<div class="container-fluid">
  <div class="row align-items-center">
    <div class="col-md-6 pe-0">
      <h1 class="mb-4">Timeline da minha carreira</h1>
      <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="main-timeline5">
                    <div class="timeline">
                        <div class="timeline-icon"><span class="year">2021</span></div>
                        <div class="timeline-content">
                            <h3 class="title">Banco Itaú</h3>
                            <p class="description">
                              Em 2021 realizei o grande sonho de ingressar no Banco Itaú, onde sou Team Member da Squad de cartões da Comunidade de Canais.
                            </p>
                        </div>
                    </div>
                    <div class="timeline">
                        <div class="timeline-icon"><span class="year">2020</span></div>
                        <div class="timeline-content">
                            <h3 class="title">Trabalho em consultoria</h3>
                            <p class="description">
                              Atuei como desenvolvedor FullStack no Banco Bradesco, atuando em um dos projetos bem importante do Bradesco, chamado PIX.
                            </p>
                        </div>
                    </div>
                    <div class="timeline">
                        <div class="timeline-icon"><span class="year">2015</span></div>
                        <div class="timeline-content">
                            <h3 class="title">Aprendizagem Acadêmica</h3>
                            <p class="description">
                              Na faculdade, tive contato com diversas linguagens de programação Java e C/C++, desenvolvi jogos para plataformas Web/Mobile.
                            </p>
                        </div>
                    </div>
                    <div class="timeline">
                        <div class="timeline-icon"><span class="year">2009</span></div>
                        <div class="timeline-content">
                            <h3 class="title">Cursar o Ensino Superior</h3>
                            <p class="description">
                              Após se sentir despertado e apaixonado por tecnologia, resolvi cursar Bacharel de Ciência da Computação, pela Universidade Paulista – UNIP.
                            </p>
                        </div>
                    </div>
    
                    <div class="timeline">
                      <div class="timeline-icon"><span class="year">2007</span></div>
                      <div class="timeline-content">
                          <h3 class="title">Curos e aperfeiçoamentos</h3>
                          <p class="description">
                              Aos 16 anos ingressei em um curso, para obter o primeiro contato com a programação, onde realizei curso de programação em HTML e CSS.
                          </p>
                      </div>
                      
                  </div>
                  <div class="timeline">
                    <div class="timeline-icon"><span class="year">2009</span></div>
                    <div class="timeline-content">
                        <h3 class="title">Onde tudo começou</h3>
                        <p class="description">
                          Apaixonado por tecnologia desde os 14 anos de idade, inicialmente realizando manutenção em microcomputadores.
                        </p>
                    </div>
                </div>
                </div>
            </div>
        </div>
      </div>

      <!-- <p class="fs-5 text-justify">Eu acredito no poder da educação como um agente transformador de realidades, isso porque eu tive a oportunidade de me formar no curso superior de sistemas de informação, isso mudou a minha realidade social e econômica, me gerando recursos para estudar ainda mais. A partir disso fui encorajado a iniciar minha carreira de docente. Já lecionei para turmas de desenvolvimento web e infraestrutura Cisco no Instituto da oportunidade social o IOS, hoje no mesmo Instituto leciono aulas de Desenvolvimento Web Full Stack, esta experiência incrível me proporciona atuar diretamente em um projeto de impacto social, isso me ensina muito a aprender e a ensinar. Amo o que faço, essa é minha vocação, ser professor, influenciar e motivar pessoas!</p> -->
    </div>
    <div class="col-md-6 d-flex justify-content-center ps-0">
      <img class="img-fluid" src="https://i.imgur.com/lMAxde0.png" alt="" width="70%">
    </div>
  </div>


</div>


