<div class="title">
    <h1>Soft Skills e Hard Skills</h1>
  </div>
<div class="title">
  </div>
  <div class="tabela">
    <table class="table table-dark">
      <thead>
        <tr class="bg-success">
          <th scope="col">Soft Skills</th>
          <th scope="col">Hard Skills</th>
        </tr>
      </thead>
      <tbody>
        <tr class="bg-primary">
          <td>Comunicação</td>
          <td>Linguagem de Programação (Java, Kotlin, HTML,CSS, Angular).</td>
        </tr>
        <tr>
          <td>Trabalho em Equipe</td>
          <td>Banco de Dados (DynamoDB, Postegress, MySql, MongoDB).</td>
        </tr>
        <tr class="bg-primary">
          <td>Adaptabilidade</td>
          <td>Controle de versionamento de código (Git, GitLab, GitHub, BitBucket)</td>
        </tr>
        <tr>
          <td>Pensamento Crítico</td>
          <td>Estrutura de Dados (Pilha, Fila, Arvores).</td>
        </tr>
        <tr class="bg-primary">
          <td>Resolução de Problemas</td>
          <td>Desenvolvimento Mobile (Java e Kotlin).</td>
        </tr>
        <tr>
          <td>Capacidade de Aprendizado</td>
          <td>Desenvolvimento de API's</td>
        </tr>
        <tr class="bg-primary">
          <td>Pensamento Estratégico</td>
          <td>Metodologias Ágeis (Scrum e Kaban)</td>
        </tr>
        <tr>
          <td>Planejamento Estratégico</td>
          <td>Segurança da informação (Pentest).</td>
        </tr>
      </tbody>
    </table>
  </div>
